<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the Dashboard!</h1>
    <% students.map((student)=>{%>   
        <h1><%= student.firstname %></h1>
        <h1><%= student.lastname %></h1>
        <form action="/deletestudent" method="POST">
            <input type="hidden" value="<%=student._id%>" name="id">
            <button>Delete</button>
        </form>
        <button>Edit</button>
    <% }) %>
</body>
</html>